<body>
   <h1><%= @list.name%><h1>
   <input type="checkbox" id="complete"><br>
   <%= link_to "Back to list", "/" %><br>
   <%= link_to "Delete #{@list.name}", list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>




  </body>
